body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    border-left-color: coral;
}
h1{
    color: black;
    
}
p{
    color: rgb(0, 0, 0);
}
p{
    font-size: 20px;
}
.color{
    color: rgb(96, 208, 236);
}

.first-section{
    display: flex;
   
}
#upper-img{
    max-height: 450px;
    max-width: 450px;
margin-left: 70px;
}

.hire-button
{
    text-decoration: none;
 background-color: orange;
color: rgba(0, 2, 102, 0.89);
padding: 5px 5px;
border-radius: 5px;
font-weight: 700;
font-style: initial;
}
.upper-portion{
    width: 50%;
padding-left: 5%;
margin-right: 10px;
}
.upper-portion-img{
    padding-top: 5%; 
}
.year-color{
    color: cadetblue;
}
h2{
    text-align: center;
    font-size: 37px;
}
.h1-parent{
    border-left: 5px solid rgba(43, 220, 226, 0.822) ;
border-radius: 10px;
}


.second-section{
    max-width: 100%;
    max-height: 100%;
display: flex;
}
.il-img-text{
    margin: 2% 2% 2% 2%;
    padding: 10px 10px;
border-radius: 25px;
box-shadow: 5px 5px 2px darkcyan;
background-color: rgb(247, 239, 227);
}
.image-size{
    max-width: 100px;
    max-height: 100px;
}
.text-size{
    max-height: 200px;
max-width: 400px;
font-size: 13px;
}

.h2-header{
    font-size: 30px;
    color: black;
    font-weight: 700;
    text-align: left;
}
.ts{
    display: flex;
}
.chinese-apu{
    margin-top: 100px;
    margin-left: 70px;
    max-height: 400px;
    max-width: 400px;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
h3{
    border-left-color: rgb(0, 247, 255);
    font-size: 30px;
    font-weight: 900;
}

.gk{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 100px;
}

.fourth-container{
    display: flex;
    flex-direction: row;

}

.doc-link
    {
        text-decoration: none;
     background-color: orange;
    color: rgba(0, 2, 102, 0.89);
    padding: 5px 5px;
    border-radius: 5px;
    font-weight: 700;
    font-style: initial;}

.vai-log{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 150px;
    max-height: 400px;
    max-width: 400px;}

.doc-text{
    margin-left: 64px;
    margin-top: 100px;
    padding: 5px 5px;
    text-align: left;
}
